<p id="notice"><%= notice %></p>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">

      <%= link_to new_user_path, class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab top-button' do %>
        <i class="material-icons">add</i>
      <% end %>

      <h5>Users</h5>

      <table class="mdl-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.firstname %></td>
              <td><%= user.lastname %></td>
              <td><%= link_to 'Show', user, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %></td>
              <td><%= link_to 'Edit', edit_user_path(user), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      </div>

    </div>

</section>
