<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field user">
    <%= f.label :user_id %>
    <%= f.select :user_id, 
        options_for_select( @users.map { |u| [u.fullname,u.id] }, order.user.try(:id) ), include_blank: true 
    %>
  </div>

  <div class="field items">
     <%= f.label :item_ids %>
     <ul>  
       <% order.items.each do |item| %>
        <%= f.hidden_field :item_ids, id: "", multiple: true, value: item.id %>
        <%= content_tag(:li, item.description, class: "item-#{item.id}" ) %>
       <% end %>
     </ul>
  </div>

  <div class="field">
    <%= select_tag :item, options_for_select( @items.map { |i| [i.description,i.id] }, order.items.map { |i| i.id } ), include_blank: false, prompt: 'Escolha uma opção' %>
    <%= button_tag "+", type: 'button', id: 'add-item' %>
    <%= button_tag "-", type: 'button', id: 'remove-item' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
