

     
      
<p id="notice"><%= notice %></p>


<% @orders.each do |order| %>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

<div class="mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__supporting-text">

    <h6><%= order.created_at %></h6>

    <h4><%= order.user.fullname %></h4>
        
    <div class="mdl-grid">
      
      <div class="mdl-cell mdl-cell--6-col">
        <ul>
          <% order.items.each do |i| %>
            <li><%= i.description  %></li> 
          <% end %>
        </ul>
      </div>

      <div class="mdl-cell mdl-cell--6-col">
        <ul>
          <% order.labels.each do |i| %>
            <li><%= i.title  %></li>
          <% end %>
       </ul>        
      </div>

    </div>


     <div class="mdl-card__actions">
      <%= link_to 'Show', order, class: 'mdl-button' %>
      <%= link_to 'Edit', edit_order_path(order), class: 'mdl-button' %>
      <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mdl-button' %>
    </div>

  </div>

</div>

</section>
<% end %>

<br>

<%= link_to 'New Order', new_order_path %>

               



