

<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation">
        <%= link_to "Filter Today", "#{orders_path}?date=#{Date.today.to_s}", class: 'mdl-navigation__link' %>
      </nav>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>

  </div>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Lanches App</span>
  <nav class="mdl-navigation">
    <%= link_to "Orders", orders_path, class: 'mdl-navigation__link' %>
    <%= link_to "Users", users_path, class: 'mdl-navigation__link' %>
    <%= link_to "Items", items_path, class: 'mdl-navigation__link' %>
    <%= link_to "Labels", labels_path, class: 'mdl-navigation__link' %>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Button
    </button>



  </nav>
</div>
